*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-image: url(../images/bg-intro-desktop.png);
  background-color:  hsla(0, 100%, 74%, 0.932);
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  width: 75%;
  margin: auto;
  margin-top: 50px;
  align-items: center;
}
h1{
  color: hsl(0, 0%, 100%);
  font-size: 50px;
  margin-bottom: 30px;
  font-weight: 700;
}
h3{
  color: hsl(0, 0%, 100%);  
  font-size: 13px;
  font-weight: 400;
}
.advert{
  text-align: center;
  background-color: hsl(248, 32%, 49%);
  border-radius: 10px;
  color: white;
  margin-bottom: 20px;
  padding: 15px 0;
  font-weight: 700;
  font-weight: 13px;
  box-shadow: 0px 7px hsla(249, 10%, 26%, 0.329);
}
.advert span{
  font-weight: 400;
}
form{
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: white;
  border-radius: 5px;
}
form div input{
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid hsla(246, 25%, 77%, 0.582);
  font-weight: 600;
}
form input:focus{
  outline: 1px solid hsl(249, 10%, 26%);
}
.claimBtn{
  background-color: hsl(154, 59%, 51%);
  border: none;
  border-radius: 3px;
  outline: none;
  box-shadow: 0px 5px hsl(154, 57%, 44%);
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  height: 35px;
  margin-bottom: 20px;
}
.claimBtn:hover{
  opacity: 0.8;
}
form p{
  font-size: 11px;
  color: hsl(246, 25%, 77%);
  text-align: center;
  font-weight: 500;
}
form span{
  color: hsl(0, 100%, 74%);
  cursor: pointer;
}
footer{
  margin-top: 30px;
}
.error{
  border: 2px solid red;
  background-image: url(../images/icon-error.svg) no-repeat;
  background-position: 95% 50%;
}
.error-text{
  font-size: 10px;
  font-style: italic;
  margin-left: auto;
  margin-top: -15px;
  margin-bottom: 20px;
  color: hsl(0, 100%, 74%);
}
.sucess{
  border: 2px solid hsl(154, 59%, 51%);
}

@media (max-width: 375px){
  .container{
    grid-template-columns: 1fr;
    width: 90%;
  }
  h1{
    font-size: 25px;
    text-align: center;
  }
  h3{
    font-size: 14px;
    text-align: center;
  }
  form{
    padding: 25px;
  }
  form div input{
    width: 100%;
  }
  footer{
    margin-bottom: 10px;
  }
}
